// Images
picture,
#restaurant-img,
#restaurant-img .restaurant-img,
#restaurants-list .restaurant-img,
.restaurant-img
	display: block;
	min-height: 261px;
	margin: 0 auto;
	height: auto;
	width: 100%;
	text-align: center;
	background-color: transparent;
